{% extends "main.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    
                    <th>nombre</th>
                    <th>email</th>
                </tr>
                </thead>
                <tbody>
                    {% for alumnos in alumnos %}
                        <tr>
                           
                            <td>{{ alumnos.nombre }}</td>
                            <td>{{ alumnos.email }}</td>
                           
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
